<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{>head}}
</head>

<body class="">
    <div class="wrapper ">
        {{>headers}}
        <div class="main-panel">
            <!-- Navbar -->
            {{>headers2}}
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-info">
                                    <h4 class="card-title">Create Order</h4>
                                    <p class="card-category">Fill All The Required Details</p>
                                </div>
                                <div class="card-body">
                                    <form method="post" id="service" name="service">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Pick Up Pin Code</label>
                                                    <input type="text" class="form-control" name="pickupPin"
                                                        id="pickupPin">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Destination Pin Code</label>
                                                    <input type="text" class="form-control" name="destinationPin"
                                                        id="destinationPin">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Weight</label>
                                                    <input type="text" class="form-control" name="weight" id="weight">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="submit" class="btn btn-info m-3" id="checkService"> Check
                                                    Service
                                                </button>
                                            </div>
                                        </div>
                                        <div class="container-fluid">
                                            <div class="card-header" id="courier">

                                            </div>
                                        </div>
                                        <br>
                                    </form>
                                    <form method="post" id="customer" name="profile">
                                        <div class="container-fluid">
                                            <label class="bmd-label-floating"><b>Billing
                                                    Customer</b><br /><br /></label>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">First Name</label>
                                                        <input type="text" class="form-control" name="Fname" id="Fname"
                                                            disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Last Name</label>
                                                        <input type="text" class="form-control" name="Lname" id="Lname"
                                                            disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Email</label>
                                                        <input type="email" class="form-control" name="email" id="email"
                                                            disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Adress</label>
                                                        <input type="text" class="form-control" name="Baddress"
                                                            id="Baddress" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">City</label>
                                                        <input type="text" class="form-control" name="city" id="city"
                                                            disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">State</label>
                                                        <input type="text" class="form-control" name="state" id="state"
                                                            disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Pin Code</label>
                                                        <input type="text" class="form-control" id="code" name="code"
                                                            disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Mobile No</label>
                                                        <input type="text" class="form-control" id="mobile"
                                                            name="mobile" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid">
                                            <label class="bmd-label-floating"><br /><b>Package
                                                    Details</b><br /><br /></label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Package Name</label>
                                                        <input type="text" class="form-control" name="packageName"
                                                            id="packageName" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">SKU(Package Code)</label>
                                                        <input type="text" class="form-control" name="sku" id="sku"
                                                            disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Units</label>
                                                        <input type="text" class="form-control" name="units" id="units"
                                                            disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Selling Price</label>
                                                        <input type="text" class="form-control" name="sellingPrice"
                                                            id="sellingPrice" disabled>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Length</label>
                                                        <input type="text" class="form-control" name="length"
                                                            id="length" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Breath</label>
                                                        <input type="text" class="form-control" name="breath"
                                                            id="breath" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Height</label>
                                                        <input type="text" class="form-control" name="height"
                                                            id="height" disabled>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="container-fluid">
                                            <label class="bmd-label-floating"><br /><b>Vendor
                                                    Customer</b><br /><br /></label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Full Name</label>
                                                        <input type="text" class="form-control" name="VFname"
                                                            id="VFname" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Email</label>
                                                        <input type="email" class="form-control" name="Vemail"
                                                            id="Vemail" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Adress</label>
                                                        <input type="text" class="form-control" name="Vaddress"
                                                            id="Vaddress" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">City</label>
                                                        <input type="text" class="form-control" name="Vcity" id="Vcity"
                                                            disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">State</label>
                                                        <input type="text" class="form-control" name="Vstate"
                                                            id="Vstate" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Pin Code</label>
                                                        <input type="text" class="form-control" id="Vcode" name="Vcode"
                                                            disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Mobile No</label>
                                                        <input type="text" class="form-control" id="Vmobile"
                                                            name="Vmobile" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-info m-3" id="createOrder1">Create
                                                    Order</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    {{>headerJS}}
    <script type="text/javascript">


        $(document).ready(function () {
            var ca = document.cookie;
            var token = "Bearer " + ca.slice(7, ca.length);
            $().ready(function () {

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                $("#checkService").click((p) => {
                    p.preventDefault();
                    var container = $('#courier');
                    container.html('Loading...');
                    $("#service").validate({
                        rules: {
                            pickupPin: {
                                required: true,
                                number: true,
                                maxlength: 6,
                                minlength: 6
                            },
                            destinationPin: {
                                required: true,
                                number: true,
                                maxlength: 6,
                                minlength: 6
                            },
                            weight: {
                                required: true,
                                number: true
                            }
                        },
                        messages: {
                            pickupPin: {
                                required: "Please enter pickup pin",
                                number: "Invalid format",
                                maxlength: "Invalid pin",
                                minlength: "Invalid pin"
                            },
                            destinationPin: {
                                required: "Please enter deliver pin",
                                number: "Invalid format",
                                maxlength: "Invalid pin",
                                minlength: "Invalid pin"
                            },
                            weight: {
                                required: "Enter units",
                                number: "Enter numbers only"
                            }
                        }
                    });

                    var settings = {
                        url: "/checkCouriers",
                        "method": "POST",
                        "timeout": 0,
                        "headers": {
                            "Content-Type": "application/json",
                            'Authorization': token

                        },
                        data: JSON.stringify({
                            "pickup": $('#pickupPin').val(),
                            "delivery": $('#destinationPin').val(),
                            "weight": $('#weight').val()
                        })
                    };
                    $.ajax(settings).done(function (data) {
                        var status = data.status
                        if (status == 404) {
                            container.html('');
                            toastr["error"](data.message, "");

                        } else {
                            container.html('');
                            for (var i = 0; i < data.length; i++) {
                                let courier_name = data[i].courier_name;
                                let courier_id = data[i].courier_id;
                                let rate = data[i].rate;
                                container.append(`<input class="form-check-input" type = "radio" name="courier_id"` + `value ="` + courier_id + `" required>` + `<label  class="form-check-label">` + courier_name + `&nbsp;&nbsp; &#8377; ` + rate + `</label><br/>`);
                                $(".form-control").removeAttr('disabled');
                            }
                        }
                    });
                });
                $("#createOrder1").click((p) => {
                    $("#customer").validate({
                        rules: {
                            Fname: {
                                required: true
                            },
                            Lname: {
                                required: true
                            },
                            email: {
                                required: true,
                                email: true
                            },
                            Baddress: {
                                required: true
                            },
                            city: {
                                required: true
                            },
                            state: {
                                required: true
                            },
                            code: {
                                required: true,
                                number: true,
                                maxlength: 6,
                                minlength: 6
                            },
                            mobile: {
                                required: true,
                                number: true,
                                maxlength: 10,
                                minlength: 10
                            },
                            packageName: {
                                required: true
                            },
                            sku: {
                                required: true,
                                number: true
                            },
                            units: {
                                required: true,
                                number: true
                            },
                            sellingPrice: {
                                required: true,
                                number: true
                            },
                            length: {
                                required: true,
                                number: true
                            },
                            breath: {
                                required: true,
                                number: true
                            },
                            height: {
                                required: true,
                                number: true
                            },
                            VFname: {
                                required: true
                            },
                            Vemail: {
                                required: true,
                                email: true
                            },
                            Vaddress: {
                                required: true
                            },
                            Vcity: {
                                required: true
                            },
                            Vstate: {
                                required: true
                            },
                            Vcode: {
                                required: true,
                                number: true,
                                maxlength: 6,
                                minlength: 6
                            },
                            Vmobile: {
                                required: true,
                                number: true,
                                maxlength: 10,
                                minlength: 10
                            }
                        },
                        messages: {
                            Fname: {
                                required: "Please provide First Name"
                            },
                            Lname: {
                                required: "Please provide Last Name"
                            },
                            email: {
                                required: "Please enter a valid email address",
                                email: "Please provide valid Email"
                            },
                            Baddress: {
                                required: "Please Enter a complete address"
                            },
                            city: {
                                required: "Please provide your city"
                            },
                            state: {
                                required: "Please provide your Country Name"
                            },
                            code: {
                                required: "Please provide your Postal Code",
                                number: "Enter numbers only",
                                maxlength: "Invaid Pin Code",

                                minlength: "Invaid Pin Code"
                            },
                            mobile: {
                                required: "Please provide mobile number",
                                number: "Enter numbers only",
                                maxlength: "Invalid Mobile Number",
                                maxlength: "Invalid Mobile Number"
                            },
                            packageName: {
                                required: "Enter package name"
                            },
                            sku: {
                                required: "Enter package id",
                                number: "Enter numbers only"
                            },
                            units: {
                                required: "Enter units",
                                number: "Enter numbers only"
                            },
                            sellingPrice: {
                                required: "Enter valid price",
                                number: "Enter numbers only"
                            },
                            length: {
                                required: "Enter valid price",
                                number: "Enter numbers only"
                            },
                            breath: {
                                required: "Enter valid price",
                                number: "Enter numbers only"
                            },
                            height: {
                                required: "Enter valid price",
                                number: "Enter numbers only"
                            },
                            VFname: {
                                required: "Please provide First Name"
                            },
                            Vemail: {
                                required: "Please enter a valid email address",
                                email: "Please provide valid Email"
                            },
                            Vaddress: {
                                required: "Please Enter a complete address"
                            },
                            Vcity: {
                                required: "Please provide your city"
                            },
                            Vstate: {
                                required: "Please provide your Country Name"
                            },
                            Vcode: {
                                required: "Please provide your Postal Code",
                                number: "Enter numbers only",
                                maxlength: "Invaid Pin Code",
                                minlength: "Invaid Pin Code"
                            },
                            Vmobile: {
                                required: "Please provide mobile number",
                                number: "Enter numbers only",
                                maxlength: "Invalid Mobile Number",
                                maxlength: "Invalid Mobile Number"
                            }
                        }
                    });
                    var n = $("input[name=courier_id]:checked").val()
                    n = parseInt(n)
                    var n1 = $('#code').val()
                    n1 = parseInt(n1)
                    var u1 = $('#units').val()
                    var u1 = parseInt(u1)
                    p.preventDefault();
                    var l1 = $('#length').val()
                    l1 = parseInt(l1)
                    var b1 = $('#breath').val()
                    b1 = parseInt(b1)
                    var h1 = $('#height').val()
                    h1 = parseInt(h1)
                    var vm = $('#Vmobile').val()
                    vm = parseInt(vm)
                    var vp = $('#Vcode').val()
                    vp = parseInt(vp)
                    var settings = {
                        url: "/createOrder",
                        "method": "POST",
                        "timeout": 0,
                        "headers": {
                            "Content-Type": "application/json",
                            'Authorization': token

                        },
                        data: JSON.stringify({
                            "courier_id": n,
                            "billing_customer_name": $('#Fname').val(),
                            "billing_last_name": $('#Lname').val(),
                            "billing_address": document.getElementById('Baddress').value,
                            "billing_address_2": "aaa",
                            "billing_city": $('#city').val(),
                            "billing_state": $('#state').val(),
                            "billing_country": "INDIA",
                            "billing_pincode": n1,
                            "billing_email": $('#email').val(),
                            "billing_phone": $('#mobile').val(),
                            "shipping_is_billing": true,
                            "order_items": [
                                {
                                    "name": $('#packageName').val(),
                                    "sku": $('#sku').val(),
                                    "units": u1,
                                    "selling_price": $('#sellingPrice').val()
                                }
                            ],
                            "weight": $('#weight').val(),
                            "length": l1,
                            "breadth": b1,
                            "height": h1,
                            "vendor_details": {
                                "email": $('#Vemail').val(),
                                "phone": vm,
                                "name": $('#VFname').val(),
                                "address": $('#Vaddress').val(),
                                "address_2": "aaa",
                                "city": $('#Vcity').val(),
                                "state": $('#Vstate').val(),
                                "country": "INDIA",
                                "pin_code": vp
                            }
                        })
                    }
                    $.ajax(settings).done(function (data) {
                        if (data.status == 200) {
                            toastr["warning"](data.message, "");
                        } else {
                            toastr["success"]("Your order has been booked. Downloading Label", "Successful");
                            window.setTimeout(function () {
                                window.location.href = data.label_url;
                            }, 3000);
                        }
                    });
                });

                $('#code').keyup(function () {

                    this.value = this.value.replace(/[^0-9\.]/g, '');

                });

                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }

                }

                $('.fixed-plugin a').click(function (event) {

                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });
        });
    </script>
</body>

</html>