<title>
    Dashboard | Courier here
</title>
<link href="https://drive.google.com/uc?export=view&id=1MDR88nZg-9aStDLTYPT9925TO3ws7Yam" rel="icon">
<link href="https://drive.google.com/uc?export=view&id=1Cbt73GyRP5y48lDkEO-fvx-zcbxtbF07" rel="apple-touch-icon">
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="/dashboard/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="../../css/toast/toastr.min.css">